[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
psycopg2-binary = "*"
djangorestframework = "==3.12.4"
django-filter = "*"

[dev-packages]

[requires]
python_version = "*"
