[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
psycopg2 = "*"
psycopg2-binary = "*"
djangorestframework = "==3.12.4"
django-filter = "*"
django-rest-auth = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "*"
