.login-outer-css{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100vh;
    background-color: #243b63;
    width: 100%;
    overflow-x:hidden;
}
.home-image {
    width: 110%;
    margin-top: 85px;
    margin-left: -16px;
}

.logo-image {
    height: 4rem;
    padding: 1rem;
    margin-top: 0px;
}

.card-body-con {
    margin-top: 185px;
    margin-left: -103px;
    box-shadow: 0px 5px 5px -1px rgb(0 0 0 / 40%);
}
.outer-card{
    background-color: #c7dbff;
}

.card-body {
    border-radius: 3rem;
    width: 78% !important;
    background-color: #c7dbff;
}
.Input-field{
    width: 244px;
}
.login-image {
    height: 23rem;
    justify-Content: 'center' !important;
    width: 21rem;
    border-radius: 40px;
}

.forgot-password {
    margin: auto;
    padding: 0.2rem;
    color: orange;
    font-size: 1rem;
}

.info {
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.btn-block {
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 30%);
    border-radius: 14px !important;
    color: #373c42 !important;
}

.btn-danger {
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 30%);
    border-radius: 0
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    min-width: 13rem !important;
}

#login-button {
    background: #cccbd578 !important;
    color: #243b63 !important;
}

#login-button:hover {
    background: #3f3d56 !important;
    color: #fff !important;
}

.kep-login-facebook.small {
    padding: calc(0.34435vw + 3.38843px) calc(0.34435vw + 8.38843px);
    border-radius: 14px;
    width: 13rem;
    height: 38px;
}

.google {
    width: 13rem;
    height: 38px;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 15px !important;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    opacity: 20 !important
}

@media (max-width:629px) {
    img#optionalstuff {
        display: none;
    }
}

@media (max-width:629px) {
    .card-body {
        box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 40%);
    }
}