.sidenavbar{
  align-items: center;
  text-align: center;
  background-color: rgba(1, 20, 37, 0.907);
  padding: 10px;
}
.btns{
  align-self: center;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  width: 150px;
  
}
.tabs{
  
  color: white;
  font-weight: 300;
}
