.sidenavbar{
  align-items: center;
  text-align: center;
  background-color: #673ab7;
  padding: 10px;
}
.btns{
  align-self: center;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  width: 150px;
  
}
.tabs{
  cursor: pointer;
  font-size: large;
  color: #eceef8;
  font-style: normal;
  text-decoration: none;
  border-style: hidden;
  font-weight: 500;
}
.tabs:hover{
  background-color: #eceef8;
  color: #673ab7;
}
